MONGODB_URI=

JWT_SECRET=

PINATA_API_KEY=
PINATA_SECRET_API_KEY=
PINATA_JWT=

ALCHEMY_SEPOLIA_URL=
ALCHEMY_AMOY_URL=

PRIVATE_KEY=

ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=

FHIR_SERVER_URL=http://localhost:8080/fhir

FABRIC_CHANNEL_NAME=mychannel
FABRIC_CHAINCODE_NAME=ehr-chaincode